@model Product

<div class="card panel panel-info" style="max-width: 30rem; padding:1em">
    <div class="card-header">
        <h3 class="card-title">
            @Model.Name
            <span class="badge badge-primary" style="float:right" background-color:blue">
                @Model.Price.ToString("c")
            </span>
        </h3>
    </div>
    <form id="@Model.ProductID" asp-action="AddToCart" asp-controller="Cart" method="post">
        <input type="hidden" asp-for="ProductID" />
        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
        <span class="card-text p-1">
            @Model.Description
            <button type="submit" class="btn btn-success btn-sm pull-right"style="float:right">
                Add To Cart
            </button>
        </span>
    </form>
 </div>  